*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}
#navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 120px;
}
#logo{
    height: 50px;
    width: 120px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    
}
#add-first{
    font-size: 0.8rem;
    margin-left: 15px;
}
#add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    height: 40px;
    width: 700px;
    border: 2px solid transparent;
    border-radius: 6px;
}
#input-search{
    width: 600px;
    font-size: 1rem;
    border: none;
}
.nav-search:hover{
    border:2px solid orange;
}
#select-search{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    width: 48px;
    text-align: center;
}
#icon-search{
    background-color: orange;
    width: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
}
#pak-flag{
    background-image: url("flag-photo.png");
    background-size: cover;
    height: 18px;
    width: 28px;
}
.nav-flag{
    display: flex;
    height: 45px;
    align-items: center;
}
#lang-select{
    background-color: black;
    color: white;
    border: none;
}
.nav-sign-in{
    height: 45px;
    padding-top: 10px;
}
#sign-in{
    font-size: 0.8rem;
    padding-left: 3px;
}
#select-sign-in{
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}
.nav-orders{
    height: 45px;
    padding-top: 12px;
}
#order-one{
    font-size: 0.8rem;
}
#order-two{
    font-size: 1.2rem;
    font-weight: bolder;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.8rem;
    height: 35px;
    padding-top: 9px;
}
.panel{
    height: 40px;
    background-color: gray;
    display: flex;
    align-items: center;
}
.panel-all{
    height: 38px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.panel-deal{
    height: 28px;
    width: 105px;
    padding-top: 10px;
    margin-left: 5px;
}
.panel-service{
    height: 28px;
    width: 130px;
    padding-top: 10px;
    margin-left: 5px;
}
.panel-reg{
    height: 28px;
    width: 70px;
    padding-top: 10px;
    margin-left: 5px;
}
.panel-gift{
    height: 28px;
    width: 82px;
    padding-top: 10px;
    margin-left: 5px;
}
.panel-sell{
    height: 28px;
    width: 43px;
    padding-top: 10px;
    margin-left: 5px;
}
.hero-section{
    height: 250px;
    background-image: url("hero_photo.jpg");
    background-size: cover;
}
.shop-section1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    width: 23%;
    height: 400px;
    background-color: white;
    margin-top: 20px;
}
.box1-img{
    height: 300px;
    background-image: url("box1_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box2-img{
    height: 300px;
    background-image: url("box2_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box3-img{
    height: 300px;
    background-image: url("box3_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box4-img{
    height: 300px;
    background-image: url("box4_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.between-shop{
    height: 20px;
    background-color: #e2e7e6;
}
.shop-section2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box5-img{
    height: 300px;
    background-image: url("box5_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box6-img{
    height: 300px;
    background-image: url("box6_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box7-img{
    height: 300px;
    background-image: url("box7_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.box8-img{
    height: 300px;
    background-image: url("box8_photo.jpg");
    background-size: cover;
    margin: 10px;
}
.footer-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-panel2{
    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer-panel2 p{
    font-weight: bolder;
    font-size: 1.2rem;
}
.footer-panel2 a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
}
.footer-panel2 div{
    margin-top: 30px;
}
.footer-panel3{
    background-color: #222f3d;
    height: 70px;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    font-size: 2rem;
}
.footer-panel4{
    background-color: #131A22;
    color: white;
    border-top: 5px solid #131A22;
    border-bottom: 5px solid #131A22;
}
.footer-5{
    display: flex;
    justify-content: center;
}
.footer-6{
    display: flex;
    justify-content: center;
}